<style>
  .search-btn {
    background-color: crimson;
    color: #fff;
    border-radius: 20px;
    padding: 0 0.5rem 0 0.5rem;
    border: 1.2px solid crimson;
    font-weight: 500;
  }

  .search-btn:hover {
    background-color: white;
    color: crimson;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }


  .search-inp {
    border-radius: 20px;
    padding: 0.5rem 4rem 0.5rem 3rem;
    font-size: 1rem;
  }


  .user-btn {
    margin-right: 10px;
  }

  .globe {
    margin-top: 8px;
    margin-left: 10px;

  }

  .globe i {
    color: grey;
  }

  .globe a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  #navPos {
    font-weight: 500;
    font-size: 1rem;
  }

  .hover a:hover {
    text-decoration: underline;
  }

  .addbtn {
    font-weight: 500;
  }

  @media screen and (max-width: 1201px) {
    .addbtn {
      display: none;
    }
  }

  .resAddbtn {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    .resAddbtn {
      display: block;
    }
  }

  #navbarNavAltMarkup {
    background-color: rgb(196, 228, 244);
    padding: 15px 20px 18px 20px;
    text-align: left;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid custom-navbar-collapse">
    <a class="navbar-brand" href="/listings"><i class="fa-brands fa-meta"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-pos hover">
        <a class="nav-link addbtn" id="navPos" href="/">Home</a>
      </div>
      <div class="navbar-nav nav-pos hover">
        <a class="nav-link" id="navPos" href="/listings">Explore</a>
      </div>


      <div class="navbar-nav ms-auto">
        <form action="/listings" class="d-flex" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search Destination">
          <button class="btn search-btn" type="submit">Search</button>
          <!-- <button class="btn search-btn2" type="submit"><b><i class="fa-solid fa-magnifying-glass"></i></b></button> -->
        </form>
      </div>


      <div class="navbar-nav ms-auto dropdown user-btn">

        <a class="nav-link addbtn hover" id="navPos" href="/listings/new" style="margin-right: 0px;">Airbnb your
          home</a>
        <a class="nav-link resAddbtn hover" id="navPos" href="/listings/new" style="margin-right: 0px; ">Airbnb your
          home</a>

        <% if(!currUser){ %> <!--res.locals used -->
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu">
              <a class="dropdown-item " href="/signup"><b>Sign up</b></a>
              <a class="dropdown-item" href="/login">Log in</a>
              <hr class="dropdown-divider">
              <a class="nav-link " id="navPos" href="/listings/new">Airbnb your home</a>
              <a class="nav-link " id="navPos" href="/terms">Help Center</a>
            </ul>
          </div>
          <% } %>
            <% if(currUser){ %>
              <a class="nav-link" href="/logout"><b>Logout</b></a>
              <% } %>
                <div class="globe">
                  <a href=""><i class="fa-solid fa-globe hover" style="color: black;"></i> &nbsp;English (IN)</a>
                </div>
      </div>
    </div>
  </div>
</nav>