<style>
    .container-One h4 {
        margin-top: 10%;
        font-weight: 600;
        margin-left: 10%;
    }

    .container-One img {
        width: 98%;
        height: auto;
    }

    .container-two {
        margin: 10% 20% 10% 15%;
    }

    .heading {
        font-size: 0.7rem;
        font-weight: 600;
        color: gray;
    }
    .topic{
        font-size: 1.2rem;
        margin-top: 20px;
        color: #4a4848;
    }
</style>

<% layout("/layouts/boilerplate") %>

    <body>
        
        <div class="container-One">
            <h4 style="color: crimson;"><b>Careers at WanderLust</b></h4>
            <br>
            <br>
            <br>
            <img src="https://careers.airbnb.com/wp-content/uploads/sites/7/2018/12/Airbnb_Careers_Home_Hero.jpg?w=1440"
                alt="Career at WanderLust">
        </div>

        <div class="container-two">
            <p class="heading"><b>NEWS</b></p>
            <h2><b>Living and working from anywhere</b></h2>
            <p class="topic">2022 was another record year for Wanderlust. Read more about our Q4 and year-end 2022 financial results
                in
                our <u>Shareholder Letter</u> .
            <br>
            <br>
            We have a new design for living and working anywhere! Read Wanderlust Co-Founder & CEO Brian Chesky’s
                email to Wanderlust’s employees around the globe in our <u>Newsroom post</u>.
            <br>
            <br>
            WanderLust, Inc. can hire employees in states where we have registered entities. Currently, employees
                cannot be located/live in: Alaska, Nebraska, North Dakota, Wisconsin, Alabama, Mississippi, and
                Delaware. This list is continuously evolving, so please check back with us if the state you live in is
                on the exclusion list.</p> 

                <br> 
                <p class="heading"><b>OUR MISSION</b></p>
                <h2><b>Create a world where anyone can belong anywhere</b></h2>
                <p class="topic">It’s an audacious, incredibly rewarding mission that our increasingly diverse team is dedicated to achieving.
                    <br>
                    <br>
                    Airbnb is built around the idea that everyone should be able to take the perfect trip, including where they stay, what they do, and who they meet. To that end, we empower millions of people around the world to use their spaces, passions, and talents to become entrepreneurs.
                    <br>
                    <br>
                    Exciting challenges lie ahead—new regions, technologies, and businesses. Guided by our four core values, we’ll meet these challenges creatively and with the support of our global community. Join us!</p>

        </div>
    </body>