<% layout("/layouts/boilerplate") %>

    <body>
        <br><br>
        <h2>Company Details</h2>
        <br>
        <h5>Provider of the website:</h5>
        <p>Wanderlust India GS <br>
            18-II, Kriti Nagar, <br>
            New Delhi, 110001, <br>
            India</p>
        <p>
           <b>Directors:</b> Gautam Shiva and Soniya Gautam <br>
            <b>VAT-ID:</b> IL03012002U</br>
            <b>Trade Register Number:</b> (Indian Companies Registration Office) IND 511825
        </p>
        <b>Contact us:</b>
        <p>
            <b>Email address :</b>
           <a href="">terms@wanderlust.com</a> <br>
            <b>Wanderlust support :</b>
            <a href="">https://www.wanderlust.co.in/help/contact_us</a>
        </p>
        <br>
        <p>If you have a complaint or concern about Wanderlust platform or violations of Wanderlust Terms of Service, you may contact the India grievance officer: <br>
            Wanderlust India GS <br>
            <br>
            attn: Himanshu Bhardwaj, Vaibhav Tyagi Officer <br>
            <br>
            18-II, Kriti Nagar, <br>
            New Delhi, 110001, <br>
            India<br>
            Email: grievance-officer-india@wanderlust.com</p>

            <br><br>

    </body>