<style>
    .heading {
        color: gray;
        font-weight: 500;
        margin-top: 40px;
        margin-bottom: 5px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        /* margin-left: 30px;
        margin-right: 60px; */
        margin-left: auto;
        margin-right: auto;
        width: 99%;
    }

    .terms {
        width: 60%;
    }

    .Main-loginBtn {
        display: none;
        width: 75%;
        border: 2px solid crimson;
        color: white;
        background-color: crimson;
        border-radius: 8px;
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
    }

    .Main-loginBtn a {
        border: 2px solid crimson;
        text-decoration: none;
        color: white;
        font-size: 0.85rem;
        font-weight: 600;
        background-color: crimson;
        text-align: center;
    }

    .loginBox {
        width: 32%;
        border: 1px solid rgb(215, 209, 209);
        border-radius: 12px;
        height: 25vh;
        padding: 15px;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .loginBox a {
        border: 2px solid crimson;
        padding: 5px 80px;
        text-decoration: none;
        color: white;
        font-size: 0.85rem;
        font-weight: 600;
        background-color: crimson;
        border-radius: 8px;
        margin: 6px;
        margin-top: 10px;
        text-align: center;
    }

    .container-one {
        width: 92%;
        border: 1px solid rgb(215, 209, 209);
        border-radius: 12px;
        display: flex;
        padding: 12px;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .icon {
        color: rgb(61, 118, 209);
        margin-right: 15px;
    }

    .container-content {
        font-size: 0.94rem;
        font-weight: 400;
    }

    .paragarph {
        font-weight: 400;
        font-size: 0.95rem;
    }

    @media screen and (max-width: 992px) {
        .loginBox {
            display: none;
        }

        .Main-loginBtn {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .terms {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    }

    .line {
        border-width: 1.5px;
        width: 100%;
        border-color: grey;
        margin: 0 auto;
    }
</style>
<% layout("/layouts/boilerplate") %>

    <body>
        <div class="main-container">
            <div class="Main-loginBtn"><a href="/login">Log in or sign up</a> </div>
            <div class="container">
                <div class="terms">
                    <p class="heading">Legal terms</p>
                    <h2><b>Terms of Service</b></h2>
                    <div class="container-one">
                        <div class="icon"><i class="fa-solid fa-globe"></i></div>
                        <div class="container-content">
                            If your country of residence or establishment is within the Indian
                            Economic Area (“IEA”), Sri Lanka or the Nepal, the
                            <u><b>Terms of Service for Indian Users</b></u>
                            apply to you.
                            <br>
                            If your country of residence or establishment is outside of Australia, the EEA, Switzerland,
                            and
                            the United Kingdom, the <u><b>Terms of Service for Non-Indian Users</b></u> apply to you.
                            <br>
                            If your country of residence or establishment is within Australia, the <u><b>Terms of
                                    Service
                                    for
                                    Australian Users </b></u>apply to you.
                        </div>
                    </div>
                    <h5><b>Terms of Service for Indian Users</b></h5>
                    <br>
                    <p class="paragarph">
                        As a consumer who resides in the EEA you can access the Indian Commission’s online dispute
                        resolution platform here: <u><b>https://ind.india.eu/consumers/odr </b></u>.Please note that
                        Wanderlust is not committed nor obliged to use an alternative dispute resolution entity to
                        resolve
                        disputes with consumers. The Indian Commission’s online dispute resolution platform is not
                        available
                        for residents of Switzerland or the United Kingdom.
                        <br>
                        <br>
                        <b>Section 24 of these Terms contains an arbitration agreement and class action waiver that
                            applies
                            to all claims brought against Wanderluster in the United States. Please read them
                            carefully.</b>

                        <br>
                        <br>
                        Last Updated: 04 December 2023
                        <br>
                        <br>
                        Thank you for using Wanderlust!
                        <br>
                        <br>

                        These Terms of Service for Indian Users (“<b>Terms</b>”) are a binding legal agreement between
                        you
                        and Wanderlust that govern your right to use the websites, applications, and other offerings
                        from
                        Wanderlust (collectively, the “<b>Wanderlust Platform</b>”). When used in these Terms,
                        “<b>Wanderlust</b>,” “<b>we</b>,” “<b>us</b>,” or “<b>our</b>” refers to the Wanderlust entity
                        set
                        out on <b><u>Schedule 1</u></b> with whom you are contracting. <br>
                        <br>
                        The Wanderlust Platform offers an online venue that enables users (“<b>Members</b>”) to publish,
                        offer, search for, and book services. Members who publish and offer services are “<b>Hosts</b>”
                        and
                        Members who search for, book, or use services are “<b>Guests</b>.” Hosts offer accommodations
                        (“<b>Accommodations</b>”), activities, excursions and events (“<b>Experiences</b>”), and a
                        variety
                        of travel and other services (collectively, “<b>Host</b> Services,” and each Host Service
                        offering,
                        a “<b>Listing</b>”). You must register an account to access and use many features of the
                        Wanderlust
                        Platform, and must keep your account information accurate. As the provider of the Wanderlust
                        Platform, Wanderlust does not own, control, offer or manage any Listings, Host Services, or
                        tourism
                        services. Wanderlust is not a party to the contracts entered into directly between Hosts and
                        Guests,
                        nor is Wanderlust a real estate broker, travel agency, insurer or an organiser or retailer of
                        travel
                        packages under Directive (EU) 2015/2302. Wanderlust is not acting as an agent in any capacity
                        for
                        any Member, except as specified in the <b><u>Payments Terms of Service</u></b> (“<b>Payment
                            Terms</b> ”). To learn more about Wanderlust role see Section 16. <br>
                        <br>
                        We maintain other <b><u>terms</u></b> and <b><u>policies</u></b> that supplement these Terms
                        like
                        our<b><u>Privacy Policy</u></b>, which describes our collection and use of personal data, and
                        our
                        <b><u>Payments Terms</u></b>, which govern any payment services provided to Members by the
                        Wanderlust
                        payment entities (collectively "<b>Wanderlust Payments</b>"). <br>
                        <br>
                        If you Host, you are responsible for understanding and complying with all laws, rules,
                        regulations
                        and contracts with third parties that apply to your Host Services.

                        <br><br>
                    <h4><b>Table of Contents</b></h4>
                    <br><br>
                    <ol>
                        <b>Guest Terms</b> <br><br>
                        <b>
                            <li><u>Our Mission.</u></li>
                        </b>
                        <b>
                            <li><u>Searching and Booking on Wanderlust.</u></li>
                        </b>
                        <b>
                            <li><u>Cancellations, Travel Issues, Refunds and Booking Modifications.</u></li>
                        </b>
                        <b>
                            <li><u>Your Responsibilities.</u></li>
                        </b><br>
                        <b>Host Terms</b>
                        <br><br>
                        <b>
                            <li><u>Hosting on Wanderlust.</u></li>
                        </b>
                        <b>
                            <li><u>Managing Your Listing.</u></li>
                        </b>
                        <b>
                            <li><u>Cancellations, Travel Issues, and Booking Modifications.</u></li>
                        </b>
                        <b>
                            <li><u>Taxes.</u></li>
                        </b><br>
                        <b>General Terms</b>
                        <br><br>
                        <b>
                            <li><u>Reviews.</u></li>
                        </b>
                        <b>
                            <li><u>Content.</u></li>
                        </b>
                        <b>
                            <li><u>Fees.</u></li>
                        </b>
                        <b>
                            <li><u>Wanderlust Platform Rules.</u></li>
                        </b>
                        <b>
                            <li><u>Termination, Suspension and other Measures.</u></li>
                        </b>
                        <b>
                            <li><u>Modification of these Terms.</u></li>
                        </b>
                        <b>
                            <li><u>Resolving Complaints and Damage Claims.</u></li>
                        </b>
                        <b>
                            <li><u>Wanderlust’s Role.</u></li>
                        </b>
                        <b>
                            <li><u>Member Accounts.</u></li>
                        </b>
                        <b>
                            <li><u>Disclaimer.</u></li>
                        </b>
                        <b>
                            <li><u>Liability.</u></li>
                        </b>
                        <b>
                            <li><u>Indemnification.</u></li>
                        </b>
                        <b>
                            <li><u>Contracting Entities.</u></li>
                        </b>
                        <b>
                            <li><u>Applicable law and Jurisdiction.</u></li>
                        </b>
                        <b>
                            <li><u>Miscellaneous.</u></li>
                        </b>
                        <b>
                            <li><u>United States Dispute Resolution and Arbitration Agreement.</u></li>
                        </b><br>
                        <b>Additional Terms Specific to Business Hosts</b>
                        <br><br>
                        <b>
                            <li><u>Business Users.</u></li>
                        </b>
                        <b>
                            <li><u>Termination, Suspension and other Measures.</u></li>
                        </b>
                        <b>
                            <li><u>Complaints Handling and Mediation.</u></li>
                        </b>
                        <b>
                            <li><u>Access to Data.</u></li>
                        </b>
                        <b>
                            <li><u>Additional Distribution Channels.</u></li>
                        </b>
                        <b><u>Schedule 1 - Contracting Entities</u></b>
                        <br><br>
                    </ol>
                    </p>
                    <p class="paragarph">
                    <h4><b> Guest Terms</b></h4>
                    <b>1. Our Mission.</b> <br>
                    <br>
                    Our mission is to create a world where you can belong anywhere. From cabins to castles to cooking
                    classes, browse through millions of Listings to find the ones that fit the way you like to travel.
                    Learn more about a Listing by reviewing the description and photos, the Host profile, and past Guest
                    reviews. If you have questions, just message the Host.
                    <br>
                    <br>
                    <b>2. Searching and Booking on Wanderlust.</b>
                    <br>
                    <br>
                    <b>2.1 Searching.</b> You can search for Host Services by using criteria like the type of Host
                    Service, travel destination, travel dates, and number of guests. You can also use filters to refine
                    your search results. Search results are based on their relevance to your search and other criteria.
                    Relevance considers factors like price, availability, Reviews, customer service and cancellation
                    history, popularity, previous trips and saved Listings, Host requirements (e.g. minimum or maximum
                    nights), and more. Learn more about search results in our <b><u> Help Center.</u></b>
                    <br>
                    <br>
                    <b>2.2 Booking. </b>When you book a Listing, you are agreeing to pay all charges for your booking
                    including the Listing price, applicable fees like WanderLust service fee, offline fees, taxes and
                    any other items identified during checkout (collectively, “Total Price”). When you receive the
                    booking confirmation, a contract for Host Services (a "Reservation") is formed directly between you
                    and the Host. In addition to these Terms, you will be subject to, and responsible for complying
                    with, all terms of the Reservation, including without limitation, the cancellation policy and any
                    other rules, standards, policies, or requirements identified in the Listing or during checkout that
                    apply to the Reservation. It is your responsibility to read and understand these rules, standards,
                    policies, and requirements prior to booking a Listing. Be aware that some Hosts work with a co-host
                    or as part of a team to provide their Host Services.
                    <br>
                    <br>
                    <b>2.3 Accommodation Reservations.</b> An Accommodation Reservation is a limited license to enter,
                    occupy and use the Accommodation. The Host retains the right to re-enter the Accommodation during
                    your stay, to the extent: (i) it is reasonably necessary, (ii) permitted by your contract with the
                    Host, and (iii) consistent with applicable law. If you stay past checkout, the Host has the right to
                    make you leave in a manner consistent with applicable law, including by imposing reasonable overstay
                    penalties. You may not exceed the maximum number of allowed Guests.
                    <br>
                    <br>
                    <b>2.4 Reservations for Experiences and Other Host Services.</b> An Experience or other Host Service
                    Reservation entitles you to participate in, attend, or use that Host Service. You are responsible
                    for confirming that you, and anyone you invite, meet minimum age, proficiency, fitness or other
                    requirements. You are responsible for informing the Host of any medical or physical conditions, or
                    other circumstances that may impact your ability to participate, attend or use the Host Service.
                    Except where expressly authorized, you may not allow any person to join a Host Service unless they
                    are included as an additional guest during the booking process.
                    <br>
                    <br>
                    <b>3. Cancellations, Travel Issues, Refunds and Booking Modifications.</b><br>
                    <br>
                    <b>3.1 Cancellations, Travel Issues, and Refunds.</b> In general, if you cancel a reservation, the
                    amount refunded to you is determined by the cancellation policy that applies to that reservation.
                    But, in certain situations, other policies take precedence and determine what amount is refunded to
                    you. If something outside your control requires you to cancel a reservation, you may be entitled to
                    a partial or full refund under our Extenuating Circumstances Policy. If the Host cancels, or you
                    experience a Travel Issue (as defined in our Rebooking and Refund Policy), you may be entitled to
                    rebooking assistance or a partial or full refund under our Rebooking and Refund Policy. Different
                    policies apply to certain categories of Listings; for example, Experiences reservations are governed
                    by the Experiences Guest Refund Policy, and Luxe Reservations are governed by the Luxe Rebooking and
                    Refund Policy. See each Additional Legal Term or Policy for details about what is covered, and what
                    refund applies in each situation. You may appeal a decision by Wanderlust by contacting our customer
                    service.
                    <br>
                    <br>
                    <b>3.2 Booking Modifications.</b> Hosts and Guests are responsible for any booking modifications
                    they agree to make via the Wanderlust Platform or direct Wanderlust customer service to make on
                    their behalf ("Booking Modifications"), and agree to pay any additional amounts, fees or taxes
                    associated with any Booking Modification.
                    <br>
                    <br>
                    <b>4. Your Responsibilities.</b>
                    <br>
                    <br>
                    You are responsible for your own acts and omissions and are also responsible for the acts and
                    omissions of anyone you invite to join or provide access to any Accommodation or Experience. For
                    example, this means: (i) you are responsible for leaving an Accommodation (and related personal
                    property) in the condition it was in when you arrived, (ii) you are responsible for paying all
                    Damage Claim amounts necessary to cover damage that you, your guest(s), or your pet(s) cause to an
                    Accommodation, and (iii) you must act with integrity, treat others with respect and comply with
                    applicable laws at all times. If you are booking for an additional guest who is a minor or if you
                    bring a minor to a Host Service, you must be legally authorized to act on behalf of the minor and
                    you are solely responsible for the supervision of that minor.
                    <br>
                    <br>
                    <b>Host Terms</b>
                    <br>
                    <br>
                    <b>5. Hosting on Wanderlust.</b>
                    <br>
                    <b>5.1 Host. </b> As a Host, Wanderlust offers you the right to use the Wanderlust Platform to share
                    your
                    Accommodation, Experience, or other Host Service with our vibrant community of Guests - and earn
                    money doing it. It’s easy to create a Listing and you are in control of how you host - set your
                    price, availability, and rules for each Listing.
                    <br>
                    <br>
                    <b>5.2 Contracting with Guests.</b> When you accept a booking request, or receive a booking
                    confirmation
                    through the Wanderlust Platform, you are entering into a contract directly with the Guest, and are
                    responsible for delivering the Host Service under the terms and at the price specified in your
                    Listing. You are also agreeing to pay applicable fees like Wanderlust’s service fee (and applicable
                    taxes) for each booking. Wanderlust Payments will deduct amounts you owe from your payout unless we
                    and you agree to a different method. Any terms or conditions that you include in any supplement
                    contract with Guests must: (i) be consistent with these Terms, our
                    <br>
                    <br>
                    Additional Legal Terms, Policies, and the information provided in your Listing, and (ii) be
                    prominently disclosed in your Listing description.
                    <br>
                    <br>
                    <b> 5.3 Independence of Hosts.</b>Your relationship with Wanderlust is that of an independent
                    individual or
                    entity and not an employee, agent, joint venturer or partner of Wanderlust, except that Wanderlust
                    Payments acts as a payment collection agent as described in the Payments Terms. Wanderlust does not
                    direct or control your Host Service and you understand that you have complete discretion whether and
                    when to provide Host Services and at what price and on what terms to offer them.
                    <br>
                    <br>
                    <b>6. Managing Your Listing.</b>
                    <br>
                    <br>
                    <b>6.1 Creating and Managing Your Listing. </b> The Wanderlust Platform provides tools that make it
                    easy for
                    you to set up and manage a Listing. Your Listing must include complete and accurate information
                    about your Host Service, your price, other charges like cleaning fees, resort fees, offline fees,
                    and any rules or requirements that apply to your Guests or Listing. You are responsible for your
                    acts and omissions as well as for keeping your Listing information (including calendar availability)
                    and content (like photos) up-to-date and accurate at all times. We recommend that you obtain
                    appropriate insurance for your Host Services and suggest you carefully review policy terms and
                    conditions like coverage details and exclusions. You may only maintain one Listing per
                    Accommodation, but may have multiple Listings for a single property if it has multiple places to
                    stay. Any offer of an Experience is subject to our Additional Terms for Experience Hosts.
                    <br>
                    <br>
                    <b> 6.2 Know Your Legal Obligations.</b> You are responsible for understanding and complying with
                    any laws,
                    rules, regulations and contracts with third parties that apply to your Listing or Host Services. For
                    example: Some landlords and leases, or homeowner and condominium association rules, restrict or
                    prohibit subletting, short-term rentals and/or longer-term stays. Some cities have zoning or other
                    laws that restrict the short-term rental of residential properties. Some jurisdictions require Hosts
                    to register, get a permit, or obtain a license before providing certain Host Services (such as
                    short-term rentals, longer-term stays, preparing food, serving alcohol for sale, guiding tours or
                    operating a vehicle). In some places, the Host Services you want to offer may be prohibited
                    altogether. Some jurisdictions require that you register Guests who stay at your Accommodation. Some
                    jurisdictions have laws that create tenancy rights for Guests and additional obligations for Hosts.
                    For example, some places have landlord-tenant, rent control, and eviction laws that may apply to
                    longer stays. Check your local rules to learn what rules apply to the Host Services you plan to
                    offer. Information we provide regarding legal requirements is for informational purposes only and
                    you should independently confirm your obligations. You are responsible for handling and using
                    personal data of Guests and others in compliance with applicable privacy laws and these Terms,
                    including our Host Privacy Standards. If you have questions about how local laws apply you should
                    always seek legal advice.
                    <br>
                    <br>
                    <b>6.3 Search Ranking.</b>The ranking of Listings in search results on the Wanderlust Platform
                    depends on
                    a variety of factors, including these main parameters:
                    <br>
                    <br>
                    Guest search parameters (e.g. number of Guests, time and duration of the trip, price range),
                    Listing characteristics (e.g. price, calendar availability, number and quality of images, Reviews,
                    type of Host Service, host status, age of the Listing, average Guest popularity),
                    Guest booking experience (e.g. customer service and cancellation history of the Host, ease of
                    booking), <br>
                    Host requirements (e.g. minimum or maximum nights, booking cut-off time), and
                    Guest preferences (e.g. previous trips, saved Listings, location from where the Guest is searching).
                    <br>
                    Search results may appear different on our mobile application than they appear on our website.
                    Wanderlust may allow Hosts to promote their Listings in search or elsewhere on the Wanderlust
                    Platform by paying an additional fee. More information about the factors that determine how your
                    Listing appears in search results, our current promotional programs (if any) and how we identify
                    promoted Content can be found in our Help Center.
                    <br>
                    <br>
                    <b> 6.4 Your Responsibilities.</b> You are responsible for your own acts and omissions and are also
                    responsible for the acts and omissions of anyone you allow to participate in providing your Host
                    Services. You are responsible for setting your price and establishing rules and requirements for
                    your Listing. You must describe any and all fees and charges in your Listing description and may not
                    collect any additional fees or charges outside the Wanderlust Platform except those expressly
                    authorized by our Offline Fee Policy. Do not encourage Guests to create third-party accounts, submit
                    reviews, provide their contact information, or take other actions outside the Wanderlust Platform in
                    violation of our Off-Platform Policy.
                    <br>
                    <br>
                    <b>6.5 Hosting as a Team or Organization.</b> If you work with a co-host or host as part of a team,
                    business or other organization, the entity and each individual who participates in providing Host
                    Services, is responsible and liable as a Host under these Terms. If you accept terms or enter into
                    contracts, you represent and warrant that you are authorized to enter into contracts for and bind
                    your team, business or other organization, and that each entity you use is in good standing under
                    the laws of the place where it is established. If you perform other functions, you represent and
                    warrant that you are authorized to perform those functions. If you instruct Wanderlust to transfer a
                    portion of your payout to a co-host or other Hosts, or send payments to someone else, you must be
                    authorized to do so, and are responsible and liable for the payment amounts and accuracy of any
                    payout information you provide.
                    <br>
                    <br>
                    <b>7. Cancellations, Travel Issues, and Booking Modifications.</b>
                    <br>
                    <br>
                    <b>7.1 Cancellations and Travel Issues.</b> In general, if a Guest cancels a reservation, the amount
                    paid
                    to you is determined by the cancellation policy that applies to that reservation. As a host, you
                    should not cancel on a Guest without a valid reason under our Extenuating Circumstances Policy or
                    applicable law. If you cancel on a Guest without such a valid reason, we may impose a cancellation
                    fee and other consequences. If: (i) a Guest experiences a Travel Issue (as defined by the Rebooking
                    and Refund Policy), (ii) an Extenuating Circumstance arises, or (iii) a reservation is cancelled
                    under Section 13 of these Terms, the amount you are paid will be reduced by the amount we refund or
                    otherwise provide to the Guest, and by any other reasonable costs we incur as a result of the
                    cancellation. If a Guest receives a refund after you have already been paid, or the amount of the
                    refund and other costs incurred by Wanderlust exceeds your payout, Wanderlust (via Wanderlust
                    Payments) may recover that amount from you, including by offsetting the refund against your future
                    payouts. You agree that Wanderlust’s Rebooking and Refund Policy, Extenuating Circumstances Policy,
                    and these Terms preempt the cancellation policy you set in situations where they allow for the
                    cancellation of a Reservation and/or the issuance of refunds to Guests. If we reasonably expect to
                    provide a refund to a Guest under one of these policies, we may delay release of any payout for that
                    Reservation until a refund decision is made. If you Host an Experience please note that the
                    Experience Cancellation Policy, Experiences Guest Refund Policy and different cancellation fees and
                    consequences apply to your Reservations. See each Policy for details about what is covered, and what
                    your payout will be in each situation. You may appeal a decision by Wanderlust by contacting our
                    customer service.
                    <br>
                    <br>
                    <b>7.2 Booking Modifications.</b> Hosts and Guests are responsible for any Booking Modifications
                    they agree
                    to make via the Wanderlust Platform or direct Wanderlust customer service to make on their behalf,
                    and agree to pay any additional amounts, fees or taxes associated with a Booking Modification.
                    <br>
                    <br>
                    <b>8. Taxes.</b>
                    <br>
                    <br>
                    <b>8.1 Host Taxes. </b>As a Host, you are responsible for determining and fulfilling your
                    obligations under
                    applicable laws to report, collect, remit or include in your price any applicable VAT or other
                    indirect taxes, occupancy taxes, tourist, income or other taxes ("Taxes").
                    <br>
                    <br>
                    <b>8.2 Collection and Remittance by Wanderlust.</b> In jurisdictions where Wanderlust facilitates
                    the
                    collection and/or remittance of Taxes on behalf of Hosts, you instruct and authorize Wanderlust to
                    collect Taxes on your behalf, and/or to remit such Taxes to the relevant Tax authority. Any Taxes
                    that are collected and/or remitted by Wanderlust are identified to Members on their transaction
                    records, as applicable. Wanderlust may seek additional amounts from Members (including by deducting
                    such amounts from future payouts) in the event that the Taxes collected and/or remitted are
                    insufficient to fully discharge that Members’ tax obligations, and you agree that your sole remedy
                    for Taxes collected by Wanderlust is a refund from the applicable Tax authority. You acknowledge and
                    agree that we retain the right, with prior notice to affected Members, to cease the collection and
                    remittance of Taxes in any jurisdiction for any reason.
                    <br>
                    <br>
                    <b>8.3 Tax Information.</b> In certain jurisdictions, Tax regulations may require that we collect
                    and/or
                    report Tax information about you, or withhold Taxes from payouts to you, or both. If you fail to
                    provide us with documentation that we determine to be sufficient to support any such obligation to
                    withhold Taxes from payouts to you, we may withhold payouts up to the amount as required by law,
                    until sufficient documentation is provided. You agree that Wanderlust may issue on your behalf
                    invoices or similar documentation for VAT, GST, consumption or other Taxes for your Host Services to
                    facilitate accurate tax reporting by our Guests and their organizations.
                    <br>
                    <br>
                    <b>General Terms</b>
                    <b>9. Reviews. </b>
                    <br>
                    <br>
                    After each Host Service, Guests and Hosts will have an opportunity to review each other. Your Review
                    must be accurate and may not contain any discriminatory, offensive, defamatory, or other language
                    that violates our Content Policy or Review Policy. Reviews are not verified by Wanderlust for
                    accuracy and may be incorrect or misleading.
                    <br>
                    <br>
                    <b>10. Content. </b>
                    <br>
                    <br>
                    Parts of the Wanderlust Platform enable you to provide feedback, text, photos, audio, video,
                    information and other content (“Content”). By providing Content, in whatever form and through
                    whatever means, you grant Wanderlust a non-exclusive, worldwide, royalty-free, sub-licensable and
                    transferable license, for the term of the protection of the rights so licensed, to access, use,
                    store, copy, modify, prepare derivative works of, distribute, publish, transmit, stream, broadcast,
                    and otherwise exploit in any manner such Content to provide and/or promote the Wanderlust Platform,
                    in any media or platform, known or unknown to date and in particular on Internet and social
                    networks. If Content includes personal information, such Content will only be used for these
                    purposes if such use complies with applicable data protection laws in accordance with our Privacy
                    Policy. Where Wanderlust pays for the creation of Content or facilitates its creation, Wanderlust
                    may own that Content, in which case supplemental terms or disclosures will say that. You are solely
                    responsible for all Content that you provide and warrant that you either own it or are authorized to
                    grant Wanderlust the rights described in these Terms. You are responsible and liable if any of your
                    Content violates or infringes the intellectual property or privacy rights of any third party.
                    Content must comply with our Content Policy and Nondiscrimination Policy, which prohibit, among
                    other things, discriminatory, obscene, harassing, deceptive, violent and illegal content. You agree
                    that Wanderlust may make available services or automated tools to translate Content and that your
                    Content may be translated using such services or tools. Wanderlust does not guarantee the accuracy
                    or quality of translations and Members are responsible for confirming the accuracy of such
                    translations.
                    <br>
                    <br>
                    <b>11. Fees.</b>
                    <br>
                    <br>
                    Wanderlust may charge fees (and applicable Taxes) to Hosts and Guests for the right to use the
                    Wanderlust Platform. Any applicable fees are disclosed to Hosts before publishing a listing and to
                    Guests before making a booking. More information about when service fees apply and how they are
                    calculated can be found on our Service Fees page. Except as otherwise provided on the Wanderlust
                    Platform, service fees are non-refundable.
                    
                    <br>
                    <br>
                    <b>12. WanderLust's Role.</b>
                    <br>
                    <br>
                    We offer you the right to use a platform that enables Members to publish, offer, search for, and
                    book Host Services. When Members make or accept a booking, they are entering into a contract
                    directly with each other. Wanderlust is not and does not become a party to or other participant in any
                    contractual relationship between Members. Wanderlust is not acting as an agent for any Member except for
                    where Wanderlust Payments acts as a collection agent as provided in the Payments Terms. While we work
                    hard to ensure our Members have great experiences using Wanderlust, we do not and cannot control the
                    conduct or performance of Guests and Hosts and do not guarantee (i) the existence, quality, safety,
                    suitability, or legality of any Listings or Host Services or (ii) the truth or accuracy of any
                    Listing descriptions, Reviews, or other Content provided by Members. You acknowledge that Wanderlust has
                    the right, but does not have any obligation to monitor the use of the Wanderlust Platform and verify
                    information provided by our Members. For example, we may review, disable access to, remove, or edit
                    Content to: (i) operate, secure and improve the Wanderlust Platform (including for fraud prevention,
                    risk assessment, investigation and customer support purposes); ensure Members’ compliance with these
                    Terms; (iii) comply with applicable law or the order or requirement of a court, law enforcement or
                    other administrative agency or governmental body; (iv) address Member Content that we determine is
                    harmful or objectionable; (v) take actions set out in these Terms; and (vi) maintain and enforce any
                    quality or eligibility criteria, including by removing Listings that don’t meet quality and
                    eligibility criteria. Where we remove or disable Content, we will notify a Member and provide the
                    reasons for such a measure, unless such notification would (i) prevent or impede the detection or
                    prevention of fraud or other illegal activities, (ii) harm the legitimate interests of other Members
                    or third parties, or (iii) contravene applicable laws. You may appeal such a decision by contacting
                    our customer service. Members agree to cooperate with and assist Wanderlust in good faith, and to
                    provide Wanderlust with such information and take such actions as may be reasonably requested by Wanderlust
                    with respect to any investigation undertaken by Wanderlust regarding the use or abuse of the Wanderlust
                    Platform.
                    </p>
                    <h4><b>Related articles</b></h4>
                    <br>
                    <h6><b><u>About the updates to our Terms
                            </u></b></h6>
                    <p style="color: gray; font-weight: 500;">Please review this information about updates to our Terms.
                    </p>
                    <br>
                    <hr class="line">
                    <br>
                    <p style="color: gray; font-weight: 500;"> Guest</p>
                    <p><b><u>Payment methods accepted</u></b></p>
                    <p style="color: gray; font-weight: 400;"> We support different payment methods depending on the
                        country your payment account is located in.</p>
                    <br>
                    <hr class="line">
                    <br>
                    <p style="color: gray; font-weight: 500;"> Host</p>
                    <p><b><u>When a guest asks to visit before booking</u></b></p>
                    <p style="color: gray; font-weight: 400;"> Encourage them to review your listing description and
                        photos, and be available to answer any additional questions they have about your space…</p>

                    <br>
                    <hr class="line">
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="loginBox">Get help with your reservations, account, and more. <br>
                    <a href="/login">Log in or sign up</a>
                </div>
            </div>
        </div>
    </body>