body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
/* Navbar */

.navbar {
  height: 5rem;
  background-color: rgb(196, 228, 244);
}

.fa-meta {
  color: rgb(39, 121, 221);
  font-size: 2rem;
  transform: rotate(180deg);
}

.nav-link {
  color: #222222 !important;
}

/* .headTitle {
  font-family: "Laila", serif;
  color: rgb(39, 121, 221);
  margin-left: -12px;
  margin-top: 10px;
  font-size: 1.6rem;
  padding-right: -30px;
} */



/* Footer */
.line {
  border-width: 1px;
  width: 90%;
  border-color: grey;
  margin: 0 auto;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1.4rem;
}
.f-info-brand,
.f-info-links a {
  text-decoration: none;
  color: #222222; 
  font-size: 0.9rem;
  font-weight: 500;
}

.f-info-links a:hover {
  text-decoration: underline;
} 

.f-info {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 0px 45px;
}
.f-info-tags{
  display: flex;
  justify-content: row;
}
.f-info-socials{
  display: flex;
  justify-content: row;
}
.globe-icon {
  font-size: 0.9rem;
  margin-right: 12px;
}
.globe-icon a{
  text-decoration: none;
  color: #222222;
  font-weight: 500;
}
.globe-icon a:hover {
  text-decoration: underline;
} 
.globe-icon i{
  margin-right: 6px;
  font-size: 0.9rem;
}
.cost-icon{
  font-size: 0.9rem;
  margin-right: 30px;
}
.cost-icon a{
  text-decoration: none;
  color: #222222 ;
  font-weight: 500;
}
.cost-icon a:hover {
  text-decoration: underline;
} 
.cost-icon i{
  margin-left: 10px;
  margin-right: 6px;
  font-size: 0.9rem;
}

@media screen and (max-width: 830px){
  .f-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 830px){
  .f-info-socials{
    margin-top: 18px;
  }
}
@media screen and (max-width: 520px){
  .f-info{
    margin-bottom: 10px;
  }
  
  .f-info-tags{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .f-info-socials{
    display: flex;
    flex-direction: column;
    text-align: center;
   
  }
  .globe-icon{
    margin-bottom: 5px;
  }
}






/* Cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  /* margin-left: 3rem; */
}

.card-img-top {
  border-radius: 0.8rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effects */

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New page */

.add-btn {
  background-color: rgb(39, 121, 221) !important;
  border: none !important;
}

/* Edit page */

.edit-btn {
  background-color: rgb(39, 121, 221) !important;
  border: none !important;
}

/* Show page */

.show-img {
  height: 42vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* map  */
#map {
  height: 400px;
  width: 80vh;
}
